@import './_theme.scss';
@import './_spacing.scss';

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
